<a href="https://colab.research.google.com/github/Bilal3940/Web-Scrapping-in-Laravel/blob/main/Web_Article_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [20]:
def url_script(url):
    page = requests.get(url).text
    soup = BeautifulSoup(page,'lxml')
    x = [ i.text for i in soup.find_all('p')]
    print(url)
    return x

In [33]:
def clean_data(data):
    cleaned_data = []
    for item in data:
        # Apply regex patterns to clean the data
        cleaned_item = re.sub(r'[^\w\s]', '', item)  # Example: Remove special characters
        if cleaned_item.strip():  # Exclude empty strings
            cleaned_data.append(cleaned_item.strip())
    return cleaned_data

In [44]:
def save_to_csv(data, filename):
    """
    Saves the extracted data to a CSV file.
    """
    df = pd.DataFrame(data)
    df.to_csv(f'/content/{filename}',index=False, encoding='utf-8')
    print(df)

In [52]:
def scrape_webpages(urls):
    """
    Scrapes multiple web pages containing articles and suggestions.
    """
    all_data = [] 
    for i, url in enumerate(urls):
        article = url_script(url)
        articles = clean_data(article)

        # Save the data to separate CSV files for each web page
        # save_to_csv(articles, f'articles_{i+1}.csv')

        # Save the data to a single CSV file
        all_data.extend(articles)
        save_to_csv(all_data, 'data.csv')

In [53]:
urls = ['https://www.bbc.com/sport/cycling/65437136', 'https://www.bbc.com/sport/gymnastics/65426779','https://www.bbc.com/sport/football/65460670','https://www.bbc.com/sport/cricket/65460563','https://www.bbc.com/sport/football/65428602','https://www.bbc.com/sport/rugby-union/65443075','https://www.bbc.com/sport/american-football/65447163','https://www.bbc.com/sport/football/65443151','https://www.bbc.com/sport/boxing/65309816','https://www.bbc.com/sport/football/65438469']


scrape_webpages(urls)

https://www.bbc.com/sport/cycling/65437136
                                                    0
0   Last updated on 29 April 202329 April 2023From...
1   Adam Yates became the third British rider in f...
2   The 30yearold won Saturdays stage four in the ...
3   Yates has a 19second lead on American Matteo J...
4   Britons Ethan Vernon and Ethan Hayter won stag...
5   Yates had to come through a tough battle with ...
6   In doing so he moved clear at the top of the o...
7   Yates launched his attack 4km from the finish ...
8   Its a really good performance from the team sa...
9   Fellow Briton Max Poole sits fourth overall 38...
10  The final stage will take place on Sunday over...
11  1 Adam Yates GBUAE Team Emirates 4hrs 40mins 4...
12             2 Thibaut Pinot FraGroupama  FDJ 7secs
13      3 Damiano Caruso ItaBahrain Victorious 19secs
14                      4 Max Poole GBTeam DSM 21secs
15          5 Matteo Jorgenson USMovistar Team 21secs
16  1 Adam Yates GBUAE Team Emirates 13hrs 14mins ...
17          2 Matteo Jorgenson USMovistar Team 19secs
18      3 Damiano Caruso ItaBahrain Victorious 27secs
19                      4 Max Poole GBTeam DSM 38secs
20            5 Thibaut Pinot FraGroupama  FDJ 41secs
21  Find out how to get into cycling with our spec...
22  Revelatory documentary detailing life in the J...
23  Tales of tears triumphs occasional debauchery ...
24  Darragh MacIntyre and Allison Morris revisit t...
25  Gary Lineker Micah Richards and Alan Shearer d...
26  Road track BMX mountain and many more  there a...
27  Got a big cycling race coming up Make sure you...
https://www.bbc.com/sport/gymnastics/65426779
                                                    0
0   Last updated on 29 April 202329 April 2023From...
1   Adam Yates became the third British rider in f...
2   The 30yearold won Saturdays stage four in the ...
3   Yates has a 19second lead on American Matteo J...
4   Britons Ethan Vernon and Ethan Hayter won stag...
..                                                ...
94  Tales of tears triumphs occasional debauchery ...
95  Darragh MacIntyre and Allison Morris revisit t...
96  Gary Lineker Micah Richards and Alan Shearer d...
97  Take our quiz learn a thing or two then get yo...
98  Check out the BBC Sport Live Guide for details...

[99 rows x 1 columns]
https://www.bbc.com/sport/football/65460670
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
127  Gary Lineker Micah Richards and Alan Shearer d...
128  Everything you need to know to make sure you n...
129  The latest rumours and stories from around the...
130  Analysis and opinion from our chief football w...
131  How to get into football  the most popular spo...

[132 rows x 1 columns]
https://www.bbc.com/sport/cricket/65460563
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
139  Darragh MacIntyre and Allison Morris revisit t...
140  Gary Lineker Micah Richards and Alan Shearer d...
141  Want to get into cricket This BBC Sport guide ...
142  Analysis and opinion from the BBCs cricket cor...
143  Get latest scores and headlines sent straight ...

[144 rows x 1 columns]
https://www.bbc.com/sport/football/65428602
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
173  Ive loved my time here What will be will be bu...
174  Revelatory documentary detailing life in the J...
175  Tales of tears triumphs occasional debauchery ...
176  Darragh MacIntyre and Allison Morris revisit t...
177  Gary Lineker Micah Richards and Alan Shearer d...

[178 rows x 1 columns]
https://www.bbc.com/sport/rugby-union/65443075
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
210  We are excited to get stuck in with them and s...
211  Revelatory documentary detailing life in the J...
212  Tales of tears triumphs occasional debauchery ...
213  Darragh MacIntyre and Allison Morris revisit t...
214  Gary Lineker Micah Richards and Alan Shearer d...

[215 rows x 1 columns]
https://www.bbc.com/sport/american-football/65447163
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
251  Kansas CIty Chiefs quarterback Patrick Mahomes...
252  The race to compete in Super Bowl 57 is under ...
253  Watch quarterback Jalen Hurts best plays from ...
254  Are you an NFL rookie If so watch our guide to...
255  How to get into American football  a sport for...

[256 rows x 1 columns]
https://www.bbc.com/sport/football/65443151
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
298  Gary Lineker Micah Richards and Alan Shearer d...
299  Everything you need to know to make sure you n...
300  The latest rumours and stories from around the...
301  Analysis and opinion from our chief football w...
302  How to get into football  the most popular spo...

[303 rows x 1 columns]
https://www.bbc.com/sport/boxing/65309816
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
355  Christie suggests for the biggest fights an in...
356  Revelatory documentary detailing life in the J...
357  Tales of tears triumphs occasional debauchery ...
358  Darragh MacIntyre and Allison Morris revisit t...
359  Gary Lineker Micah Richards and Alan Shearer d...

[360 rows x 1 columns]
https://www.bbc.com/sport/football/65438469
                                                     0
0    Last updated on 29 April 202329 April 2023From...
1    Adam Yates became the third British rider in f...
2    The 30yearold won Saturdays stage four in the ...
3    Yates has a 19second lead on American Matteo J...
4    Britons Ethan Vernon and Ethan Hayter won stag...
..                                                 ...
403  Gary Lineker Micah Richards and Alan Shearer d...
404  Everything you need to know to make sure you n...
405  The latest rumours and stories from around the...
406  Analysis and opinion from our chief football w...
407  How to get into football  the most popular spo...

[408 rows x 1 columns]